<h1 style="text-align: center;" class="noencontrado">
    404 - Página no encontrada{{req.url}}
</h1>
<div>
    <img src="/404.jpg" alt="404" style="display: block; margin: auto;">
</div>
<script src="/style.css"></script>