{{#each carts}}
<div>
    <p>Cart Id: {{_id}}</p>
    {{#each items}}
    <p>Producto: {{title}}</p>
    <p>Id del Producto: {{productId}}</p>
    <p>quantity: {{quantity}}</p>

    {{/each}}
</div>
{{/each}}
<a href="/"> ir a la base</a>
<a href="/products"> ir a productos</a>