<div>
    <h1>Log In</h1>
    <form id="loginForm">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" required>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit">Log In</button>
    </form>
</div>
<div>
    <a href="mongouser/githubcallback"><button>Log in with GitHub</button></a>
    <script src="/login.js"></script>