<div>
    <h1>Bienvenido, {{ user.name }}</h1>
    <p>Email: {{ user.email }}</p>
    <p>Rol: {{ user.role }}</p>
    <button id="logoutButton">Logout</button>
</div>


<script src="/logout.js"></script>